main {
    background-image: url("images/bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin: -8px;
    padding: 0.5rem;
}

nav{
    margin: -8px;
    background: rgba(0, 0, 0, 0.432);
    display: flex;
    align-self: center;
    padding-left: 7rem;
}

nav img{
    align-content: center;
    align-self: center;
}

ul{
    align-items: center;
    display: flex;
    text-decoration: none;
}

li{
    margin-left: 1rem;
    margin-right: 1rem;
}

li a{
    color: white;
    text-decoration: none;
}

li a:hover{
    color: rgb(0, 0, 0);
    stroke: antiquewhite;
    stroke-width: 5px;
    stroke-opacity: initial;
    text-decoration: none;
}

.hero_p{
    text-align: left;
    width: 30rem;
}

p{
    text-align: center;
}

button{
    align-self: center;
    color: rgb(255, 255, 255);
    background: black;
    font-size: medium;
    border: 0cm;
    /* align-content: flex-end; */
    align-items: flex-end;
    width: 10rem;
    height: 2.5rem;
}

.btn-dwn{
    color: white;
    border: solid black;
    padding: 6px;
}
.dwn-img{
    /* padding-top: 5px; */
    align-self: center;
    height: 22px;
}
section div a{
    align-items: center;
}

nav a{
    align-content: center;
    align-self: center;
}

nav a img{
    height: 40px;
    margin-left: 4px;
}

section{
    margin: 4rem 6rem;
    padding: 4rem 5rem;
    display: flex;
}

.hero-section{
    background: rgba(0, 0, 0, 0.178);
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: fle; */
} 
.hero-img{
    padding-left: 10rem;
    float: right;
    align-self: flex-end;
}

.hero-cont{
    margin-top: 4rem;
}

.services-section{
    margin-top: -30px;
}

.services{
    /* display: flex; */
    box-shadow: 6px 6px 4px rgba(61, 12, 65, 0.29);
    margin: 20px;
    padding: 0px 20px;
    text-align: center;
    margin-top: 3rem;

}

.img-services{
    margin-top: 15px;
    height: 90px;
    align-content: center;
    align-items: center;
}

.titles{
    margin-top: 3rem;
    font-size: large;
}

.skills{
    margin: -8px;
    background: url("images/bg2.png");
    color: white;
 
}

.skill-icon{
    /* align-self: center; */
    margin: 10px 10px;
    /* padding: 0px 10px; */
    /* height: 150px; */
    width: 150px;
    display: block;
    /* justify-content: center; */
    background: rgba(35, 13, 37, 0.253);
    border-radius: 22px;
    text-align: center;
    /* padding-top: 2rem; */
}

.skill-img{
    /* margin-top: 2rem; */
    padding-top: 2rem;
    padding-bottom: 0rem;
    height: 90px;
}

.skill-det{
    padding-top: 0rem;
}

.skills-title{
    margin-bottom: -3rem;
    color: white;
}

.img-blog{
    padding: 0px;
    width: 380px;
}

.blogs{
    /* display: flex; */
    box-shadow: 6px 6px 4px rgba(61, 12, 65, 0.29);
    /* margin: 20px; */
    /* padding: 0px 20px; */
    margin-left: 14px;
    margin-right: 14px;
    
    /* text-align: center; */
    /* margin-top: 3rem; */

} 
.blog-section{
    /* margin-top: -30px; */
    margin: 0px;
}
.blog-text{
    padding: 15px;
}